/NetBeans/EjemploUno/nbproject/private/
/NetBeans/EjemploUno/build/
/NetBeans/Suma/nbproject/private/
/NetBeans/Suma/build/
/NetBeans/AreaRectangulo/nbproject/private/
/NetBeans/AreaRectangulo/build/
/NetBeans/LLFunciones/nbproject/private/
/NetBeans/MiificadorPorDefecto/nbproject/private/
/NetBeans/ModificadoresDeAcceso/nbproject/private/
/NetBeans/Herencia/nbproject/private/
/NetBeans/Herencia/build/
/NetBeans/Polimorfistmo/nbproject/private/
/NetBeans/Polimorfistmo/build/
/NetBeans/Palabra_Super/nbproject/private/
/NetBeans/Palabra_Super/build/
/NetBeans/Los_Tres_Ambitos/nbproject/private/
/NetBeans/CajeroAutomatico/nbproject/private/
/NetBeans/CajeroAutomatico/build/
/NetBeans/ClaseDivision/nbproject/private/
/NetBeans/ClaseDivision/build/
/NetBeans/GUIFormExamples/nbproject/private/
/NetBeans/GUIFormExamples/build/
/NetBeans/Analisis_BFP/nbproject/private/
/NetBeans/analisis_BFP/nbproject/private/
/NetBeans/analisis_BFP/build/
/NetBeans/FactorPotencia/nbproject/private/
/NetBeans/FactorPotencia/build/